<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h4>If you're exporting the data and the download doesn't start automatically, please refresh the page</h4>
            
            <p>If that's not the case, you've requested an invalid URL</p>
        </LayoutView>
    </NotFound>
</Router>
