<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h5>An invalid URL has been requested, please try again or <RadzenLink Text="contact our customer support" Path="mailto:support@progamestudios.net"/></h5>
        </LayoutView>
    </NotFound>
</Router>
